* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

input {
  width: 260px;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid teal;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.box {
  padding: 20px;
  width: 260px;
  border-radius: 8px;
  border: 1px solid teal;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.item {
  display: flex;
  justify-content: space-between;
  color: gray;
}

span {
  color: black;
}
